.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0) 15px);
}

.footer:before {
	margin: 5px 0 10px 0;
	content: '';
	width: 80%;
	height: 2px;
	background: rgba(0, 0, 0, .05);
}


.footer .info {
	display: flex;
	gap: 40px;
	padding: 0 20px;
}

.footer .logo {
	max-width: 175px;
	max-height: 175px;

	transition: scale .2s ease, filter .2s ease;

	@media (max-width: 750px) {
		max-width: 150px;
		max-height: 150px;
	}
	@media (max-width: 650px) {
		max-width: 125px;
		max-height: 125px;
	}
	@media (max-width: 550px) {
		display: none;
	}
}

.footer .logo:hover {
	scale: 1.015;
}

.footer .sections {
	margin-top: 50px;
	display: flex;
	gap: 20px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (max-width: 750px) {
		margin-top: 35px;
		font-size: 13px;
	}
	@media (max-width: 650px) {
		margin-top: 20px;
	}
	@media (max-width: 500px) {
		margin-top: 0;
	}
	@media (max-width: 400px) {
		padding: 0 20px;
	}
}

.footer .sections .section {
	display: flex;
	flex-direction: column;
	gap: 10px;

	@media (max-width: 750px) {
		gap: 5px;
	}
}

.footer .sections .section .header {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.footer .sections .section .links {
	display: flex;
	flex-direction: column;
	gap: 5px;

	@media (max-width: 750px) {
		gap: 1px;
	}
}

.footer .sections .section .links a {
	transition: transform .2s ease;
}

.footer .sections .section .links a:hover {
	transform: translateX(3px);
}

.footer .credits {
	font-size: 15px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
